.carrinho-compras {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.info-carrinho {
    display: flex;
    flex-wrap: wrap;
}

th {
    background-color: var(--cor-padrao);
    color: var(--cor-fonte);
    text-align: left;
    font-weight: normal;
    padding: 5px;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: var(--cor-padrao);
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.valor-total {
    display: flex;
    justify-content: flex-end;
}

.valor-total table {
    border-top: 3px solid var(--cor-padrao);
    width: 100%;
    max-width: 420px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}