@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-padrao: #5e0385;
    --cor-padrao-hover: #ad61ce;
    --cor-fonte: #fff;
    --cor-fonte-p: #555;
    --cor-btn: #000000;
    --cor-btn-hover: #8f8f8f;
    --cor-btn-fonte: #000000;
    --cor-fonte-corpo: #555;
    --cor-fonte-corpo-leve: #777;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.linha {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.linha .col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.linha .col-2 img {
    width: 100%;
    padding: 50px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.col-2 p {
    font-weight: 600;
    color: var(--cor-btn-fonte);
}

ul {
    list-style-type: none;
}

p {
    color: var(--cor-fonte-p);
}


.btn {
    text-decoration: none;
    color: var(--cor-fonte);
    background-color: var(--cor-btn);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background-color .5s;
}

.btn:hover {
    background-color: var(--cor-btn-hover);
    color: var(--cor-btn-fonte);
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.col-4 {
    flex-basis: 25%;
    min-width: 250px;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform .5s;
}

.col-4:hover {
    transform: scale(1.1);
}


.col-4 img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.titulo {
    position: relative;
    line-height: 60px;
    margin: 0 auto 80px;
    text-align: center;
    color: var(--cor-fonte-corpo);
}

.titulo::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-padrao);
    width: 80px;
    height: 5px;
    border-radius: 5px;
}

h4 {
    color: var(--cor-fonte-corpo);
    font-weight: normal;
}

.col-4 p {
    font-size: 14px;
}

/* .classificacao {
    background-color: #000;
    width: 100px;
    height: 100px;
} */

.classificacao ion-icon {
    color: var(--cor-btn-fonte);
}